body{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: auto;
}

*{
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

/*header*/

header{
    display: flex;
}

.logo{
    height: auto;
    width: 150px;
    font-family: 'Shrikhand', cursive;
}

/*partie1*/

.searched{
    display: flex;
    margin-left: auto;
    background: #d5dbdb;
    border-radius: 20px;
    padding: 10px;
}

.fas.fa-map-marker-alt {
    background-color: #d5dbdb;
}

input{
    background-color: #d5dbdb;
    border: 0;
}

.partie1{
    background-color: #f2f2f2;
    text-align: center;
}

.partie1 h1{
    font-size: 30px;
}

.partie1 h2{
    font-family: 'roboto', sans-serif;
}

.partie1 button{
    background: linear-gradient(#ff79da, #9356dc);
    border: 0;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

/*partie2*/

.partie2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partie2 .choix1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.rond{
    background: #9356dc;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
}

.icon{
    color: grey;
    font-size: 20px;
}

.texte{
    font-size: 20px;
    color: black;
}

.partie2 a{
    background-color: #f2f2f2;
    box-shadow: 0 5px 15px 0 #c3c3c3;
    text-decoration: none;
    height: 35px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

/*partie3*/

.partie3{
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partie3 a{
    text-decoration: none;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 100px;
}

.partie3 .cards{
    display: flex;
    height: 254px;
    width: 200px;
    background: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 15px #c3c3c3;
    flex-direction: column;
    justify-content: space-between;
}

.partie3 img{
    border-radius: 10px 10px 0px 0px;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
}

.partie3 .details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.partie3 h3{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
}

.partie3 p{
    font-weight: 300;
    font-size: 1.1rem;
    margin-left: 0;
    color: black;
}

.partie3 .coeur{
    position: relative;
    margin-right: 22px;
    margin-top: 4px;
}

.partie3 .fas.fa-heart{
    font-size: 20px;
    color: grey;
}

.partie3 .new{
    display: flex;
    justify-content: end;
    border: 0;
    background: #99e2d0;
    color: #2c9c81;
    padding: 3px 10px;
    font-weight: bold;
    height: 20px;
    width: 70px;
}

/*footer*/

.footer{
    background: #333;
    text-align: center;
}

.logo1{
    filter: invert(1);
}

.footer ul{
    list-style: none;
}

.footer a{
    text-decoration: none;
    color: white;
}