/*police site*/
/*couleurs site*/
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  color: black;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

.section__contain .section__button:hover {
  background-color: #c3c3c3;
}

.reserve__btn-1:hover {
  background: #ff79da;
  cursor: pointer;
}

.store .far.fa-heart:hover {
  background: #ff79da;
}

.store .fas.fa-heart:hover {
  background: #ff79da;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header header a {
  display: flex;
  justify-content: center;
}
.header .header-image {
  height: 30px;
  margin-top: 10px;
}

.search__location {
  display: flex;
  background: #d5dbdb;
  height: 65px;
  justify-content: center;
  padding-top: 15px;
  box-shadow: inset 0px 5px 5px 0px #cbcaca;
  margin-top: 15px;
}
.search__location .search__icons {
  background-color: #d5dbdb;
  font-size: 20px;
  padding-left: 35px;
}
.search__location .input-field {
  padding-left: 15px;
}
.search__location input {
  background-color: #d5dbdb;
  border: 0;
  font-size: 20px;
}

/*header menu*/
.header__logo.menu__header__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  padding-top: 10px;
}

.header__back__icon {
  position: absolute;
  left: 25px;
  color: #000;
}

.cover__img {
  width: 100%;
  margin: 0;
}

.imgr {
  display: flex;
  width: 100%;
}

.reserve {
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}
.reserve .reserve__hgroup h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.reserve .reserve__hgroup h2 {
  font-size: 16px;
}

.section__contain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-direction: column;
  padding: 15px;
}
.section__contain .section__button {
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  text-decoration: none;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.section__contain .section__circle {
  background: #9356dc;
  border-radius: 25px;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  margin-left: -20px;
}
.section__contain .section__icons {
  color: grey;
  font-size: 20px;
  padding: 5px;
}
.section__contain .fas.fa-store {
  color: #9356dc;
}
.section__contain .section__texte {
  font-size: 15px;
  color: black;
  padding: 5px;
}

.section__title {
  padding: 10px;
}

.store {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.store .store__title {
  margin: 0;
}
.store .card {
  margin-bottom: 35px;
}
.store .store a {
  text-decoration: none;
}
.store .details {
  padding: 10px;
}
.store .strong {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}
.store .subtitle {
  font-weight: 300;
  font-size: 16px;
  color: black;
  margin: 0;
}
.store .heart {
  position: relative;
}
.store .fa-heart {
  transition: opacity 500ms;
  padding-right: 32px;
  color: transparent;
  font-size: x-large;
}
.store .far.fa-heart {
  position: absolute;
  right: 0px;
  top: -30px;
  color: black;
}
.store .fas.fa-heart {
  position: absolute;
  right: 0px;
  top: -30px;
  transition: opacity 500ms;
}
.store .fas.fa-heart:hover {
  color: linear-gradient(#ff79da, #9356dc);
}
.store .far.fa-heart:hover {
  color: linear-gradient(#ff79da, #9356dc);
}

.store__card {
  margin-top: 15px;
  background: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  position: relative;
}
.store__card .cart__img {
  border-radius: 10px 10px 0px 0px;
  display: flex;
  height: 150px;
  width: 100%;
}

/*Partie menu*/
.menuu {
  background-color: #f2f2f2;
}
.menuu .menu__summary {
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  border-radius: 35px 35px 0px 0px;
  margin-top: -50px;
}
.menuu .menu__title {
  margin-left: 15px;
}
.menuu .like.like-menu {
  margin-top: 33px;
  margin-left: 15px;
}
.menuu .sub__title::after {
  content: "";
  border-bottom: 2px solid #99e2d0;
  display: block;
  padding-top: 3px;
  width: 40px;
}
.menuu .menu__text {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}
.menuu .menu__plats {
  padding: 10px;
  animation-name: menu;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation: pop-up 1.8s;
}
.menuu .menu__title__price {
  padding: 10px;
  margin-top: 10px;
  height: 30px;
}
.menuu .menu__details p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.prod {
  margin: 0;
}

p {
  margin: 0;
}

.price__container {
  text-align: end;
}

.checkbox {
  text-align: end;
  position: relative;
  background-color: #99e2d0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.fas.fa-check-circle.btn-circle {
  transform: rotate(-10deg);
}

@media all and (min-width: 768px) {
  .section__contain {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }

  .section__button {
    margin: 12px;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card .cart__img {
    width: 364px;
  }

  .menu__summary {
    margin-top: -128px;
    justify-content: space-evenly;
  }

  .menu__plats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .menu__text {
    height: 75px;
    width: 350px;
  }
}
@media all and (min-width: 1099px) {
  .menu__summary {
    margin-top: -194px;
  }

  .menu__plats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .menu__text {
    height: 70px;
    width: 336px;
  }
}
@media all and (min-width: 1580px) {
  .cart__img {
    width: 380px;
  }
}
.reserve__btn-1 {
  background: linear-gradient(#ff79da, #9356dc);
  border: 0;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}

.reserve__btn-1 {
  transition: transform 0.5s;
}

.reserve__btn-1 :hover {
  transition: color 0.5s;
  background-color: darken #ff79da, 1;
}

.img-btn-left {
  display: flex;
  justify-content: center;
  border: 0;
  background: #99e2d0;
  color: #2c9c81;
  padding: 3px 10px;
  font-weight: bold;
  width: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 27px;
}

.command-btn {
  text-align: center;
}

.btn-2 {
  width: 65%;
  display: inline-block;
  margin-top: 25px;
}

@media all and (min-width: 768px) {
  .command-btn {
    display: contents;
  }
}
@media all and (min-width: 1099px) {
  .command-btn {
    display: contents;
  }
}
footer {
  background: #333;
  text-align: left;
}
footer .footer__logo {
  filter: invert(1);
  padding-left: 17px;
}
footer .imgl {
  margin-top: 10px;
}
footer .footer__link__value {
  list-style: none;
}
footer li {
  margin: 5px;
  margin-left: -23px;
}
footer .a {
  text-decoration: none;
  color: white;
}

/*footer menu*/
footer {
  background: #333;
  text-align: left;
}

.footer__logo {
  filter: invert(1);
}

.footer__link__value {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 480px) {
  footer {
    text-align: center;
  }
}
@media all and (min-width: 768px) {
  footer {
    background: #333;
    text-align: center;
  }
  footer .footer__logo {
    filter: invert(1);
  }
  footer .footer__link__value {
    list-style: none;
  }
}

/*# sourceMappingURL=style.css.map */
