footer{
    background: #333;
    text-align: center;
}

.footer__logo{
    filter: invert(1);
}

.footer__link__value{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

@media all and (min-width: 320px){

    footer{
        text-align: left;
    }

    .footer__logo{
        margin-left: 37px;
    }

}

@media all and (min-width: 768px){

    footer{
        text-align: left;
    }

    .footer__logo{
        margin-left: 37px;
    }

}