.reserve{
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
        .reserve__hgroup h1{
            font-size: 24px;
            font-weight: 600;
            margin: 0;
            }
                .reserve__hgroup h2{
                    font-size: 16px;
                }
    }

.section__contain{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        flex-direction: column;
        padding: 15px;
        
            .section__button{
                background-color: #f2f2f2;
                box-shadow: $box-shadow;
                text-decoration: none;
                height: 50px;
                border-radius: 10px 10px 10px 10px;
                padding: 10px;
                width: 100%;
                margin-bottom: 15px;
                &:hover{
                    color: red;
                }
                
            }
                    .section__circle{
                        background: #9356dc;
                        border-radius: 25px;
                        color: white;
                        padding: 5px 10px;
                        font-weight: bold;
                        margin-left: -20px;
                    }
                        .section__icons{
                            color: grey;
                            font-size: 20px;
                            padding: 5px;
                        }
                            .fas.fa-store{
                                color: #9356dc;
                            }
                            .section__texte{
                                font-size: 15px;
                                color: black;
                                padding: 5px;
                            }
}
.section__title {
    padding: 10px;
    }

.store{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 10px;
        .store__title {
            margin: 0;
        }
            .card {
                margin-bottom: 35px;
            }
                .store a{
                    text-decoration: none;
                }
                        .details{
                            padding: 10px;
                        }
                            .strong{
                                text-decoration: none;
                                color: black;
                                font-weight: bold;
                                font-size: 18px;
                                margin: 0;
                            }
                                .subtitle{
                                    font-weight: 300;
                                    font-size: 16px;
                                    color: black;
                                    margin: 0;
                                }
                                    .heart {
                                        position: relative;
                                    }
                                        .far.fa-heart{
                                            position: absolute;
                                            right: 26px;
                                            top: -27px;
                                            color: black;
                                        }
                                            .fas.fa-heart{
                                                position: absolute;
                                                right: 26px;
                                                opacity: 0;
                                                top: -27px;
                                                
                                            }
                                                .fas.fa-heart:hover{
                                                    background: linear-gradient(#ff79da, #9356dc);
                                                }
}


.store__card {
    margin-top: 15px;
    background: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: $box-shadow;

        .cart__img{
            border-radius: 10px 10px 0px 0px;
            display: flex;
            height: 150px;
            width: 100%;
        }
}

/*Partie menu*/

.menuu{
    background-color: #f2f2f2;

    .menu__summary{
        display: flex;
        background-color: #f2f2f2;
        position: relative;
        border-radius: 35px 35px 0px 0px;
        margin-top: -50px;
    }
        .menu__title{
            margin-left: 15px;
        }
            .like.like-menu{
                margin-top: 33px;
                margin-left: 15px;
            }               
                .sub__title::after{
                    content: '';
                    border-bottom: 2px solid #99e2d0;
                    display: block;
                    padding-top: 3px;
                    width: 40px;
                }                      
                    .menu__text{
                        background-color: white;
                        border-radius: 10px 10px 10px 10px;
                    }                         
                        .menu__plats{
                            padding: 10px;
                            animation-name: menu;
                            animation-duration: 5s;
                            animation-iteration-count: infinite;
                            animation: pop-up 1.8s;
                        }
                            .menu__title__price{
                                padding: 10px;
                                margin-top: 10px;
                                height: 30px;
                            }
                                .menu__details p{
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
}
                                  
.prod{
    margin: 0;
}
                                        
p{
    margin: 0;
}
                                            
.price__container{
    text-align: end;
}
                                                
.checkbox{
    text-align: end;
    position: relative;
    background-color: #99e2d0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}     

.fas.fa-check-circle.btn-circle {
    transform: rotate(-10deg);
}
    
@media all and (min-width: 480px){

}

@media all and (min-width: 768px){

    .section__contain {
        display: flex;
        flex-direction: row;
        padding: 0px;
    }

    .section__button {
        margin: 12px;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
            .cart__img {
                width: 364px;
            }
    }

    .menu__summary{
        margin-top: -128px;
        justify-content: space-evenly;
    }
    
    .menu__plats{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu__text{
        height: 75px;
        width: 350px;
    }
}

@media all and (min-width: 1099px){

    .menu__summary{
        margin-top: -194px;
    }
    
    .menu__plats{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu__text{
        height: 70px;
        width: 336px;
    }
 
}

@media all and (min-width: 1580px){

    .cart__img {
        width: 380px;
    }
 
}