.reserve{
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
        .reserve__hgroup h1{
            font-size: 25px;
            font-weight: 600;
            margin: 0;
            }
                .reserve__hgroup h2{
                    font-size: 16px;
                }
    }

.section__contain{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        flex-direction: column;
        padding: 15px;
        
            .section__button{
                background-color: #f2f2f2;
                box-shadow: $box-shadow;
                text-decoration: none;
                height: 50px;
                border-radius: 10px 10px 10px 10px;
                padding: 10px;
                width: 100%;
                margin-bottom: 15px;
            }
                    .section__circle{
                        background: #9356dc;
                        border-radius: 25px;
                        color: white;
                        padding: 5px 10px;
                        font-weight: bold;
                        margin-left: -20px;
                    }
                        .section__icons{
                            color: grey;
                            font-size: 20px;
                            padding: 5px;
                        }
                            .fas.fa-store{
                                color: #9356dc;
                            }
                            .section__texte{
                                font-size: 15px;
                                color: black;
                                padding: 5px;
                            }
}
.section__title {
    padding: 10px;
    }

.store{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
        .store__title {
            padding: 10px;
            margin: 0;
        }
            .card {
                padding: 10px;
                margin-bottom: 35px;
            }
                .store a{
                    text-decoration: none;
                }
                        .details{
                            padding: 10px;
                        }
                            .strong{
                                text-decoration: none;
                                color: black;
                                font-weight: bold;
                                font-size: 18px;
                                margin: 0;
                            }
                                .subtitle{
                                    font-weight: 300;
                                    font-size: 16px;
                                    color: black;
                                    margin: 0;
                                }
                                    .heart {
                                        position: relative;
                                        display: flex;
                                        flex-direction: row-reverse;
                                        top: -25px;
                                    }
                                        .far.fa-heart{
                                            position: absolute;
                                            right: 26px;
                                            top: -27px;
                                            color: black;
                                        }
                                            .fas.fa-heart {
                                                position: absolute;
                                                right: 26px;
                                                opacity: 0;
                                                top: -27px;
                                                
                                            }
}


.store__card {
    margin-top: 15px;
    background: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: $box-shadow;

        .cart__img{
            border-radius: 10px 10px 0px 0px;
            display: flex;
            height: 150px;
            width: 100%;
        }
}
    
@media all and (min-width: 480px){

}

@media all and (min-width: 768px){

    .section__contain {
        display: flex;
        flex-direction: row;
        padding: 0px;
    }

    .section__button {
        margin: 12px;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
            .cart__img {
                width: 364px;
            }
    }
}

@media all and (min-width: 1056px){

 
}

@media all and (min-width: 1580px){

    .cart__img {
        width: 380px;
    }
 
}