.reserve__btn-1{
    background: linear-gradient(#ff79da, #9356dc);
    border: 0;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
}

.reserve__btn-1 :hover{
    transition: color 3s;
    background-color: darken ( #ff79da, 1);
}
        
.img-btn-left {
    display: flex;
    justify-content: center;
    border: 0;
    background: #99e2d0;
    color: #2c9c81;
    padding: 3px 10px;
    font-weight: bold;
    width: 70px;
    position: absolute;
    margin-top: -180px;
    margin-left: 215px;
    height: 27px;
}

@media all and (min-width: 480px){
   
    .img-btn-left {
        margin-top: -190px;
        margin-left: 375px;
    }
}

@media all and (min-width: 768px){
    
    .reserve__btn-1 {
        width: 270px;
    }

    .img-btn-left {
        margin-top: -190px;
        margin-left: 280px;
    }
}    

@media all and (min-width: 1056px){

}

@media all and (min-width: 1580px){

    .img-btn-left {
        margin-left: 300px;
    }
}