$fonts: Roboto, sans-serif;
$primary-color:#9356DC;
$primary-color:#FF79DA;
$primary-color:#99E2D0;
$primary-color: #f2f2f2;
$primary-color: #d5dbdb;
$primary-color: white;
$primary-color:#99e2d0;
$primary-color: #2c9c81;

body{
    font-family: $fonts;
    margin: 0;
}

*{
    box-sizing: border-box;
}

img{
    object-fit: cover;
}