
body{
    font-family: $fonts;
    margin: 0;
    color: black;
}

*{
    box-sizing: border-box;
}

img{
    -o-object-fit: cover;
       object-fit: cover;
}

a{
    text-decoration: none;
}


.section__contain .section__button:hover{
    
    background-color:#c3c3c3;
}

.reserve__btn-1:hover{
    background: #ff79da;
    cursor: pointer;
}

.store .far.fa-heart:hover{
    background: #ff79da;
}

.store .fas.fa-heart:hover{
    background: #ff79da;
}


